<div class="container">
  <% @model == 'post' %>
  <div class="row my-5">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h3 class="mt-5 text-center">検索結果</h3>
    </div>
  </div>
  <%= render 'member/posts/index', posts: @records %>
</div>