<% if post.favorited_by?(current_member) %>
  <p>
    <%= link_to member_post_post_favorites_path(post), method: :delete, local:true do %>
      <i class="fas fa-smile"></i>共感した
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to member_post_post_favorites_path(post), method: :post, local:true do %>
      <i class="far fa-smile"></i>共感した
    <% end %>
  </p>
<% end %>