<div class=container>
  <div class="row">
    <div calss="col-md-3 offset-md-1" style="padding:10px; margin:10px;">
      <h2>カテゴリー編集</h2><br>
      <%= render 'layouts/errors', obj: @category %>
      <%= form_with model: @category, url: admin_category_path(@category), method: :patch, local:true do |f| %>
        <div style="padding:10px; margin:10px;">カテゴリー名
          <%= f.text_field :category_name  %>
        </div>
        <div style="padding:10px; margin:10px;">
          <%= f.submit "変更を保存する", class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>