<div class="container">
  <div class="row">
    <div class="col">
      <h3>カテゴリー</h3>
    </div></br>
    <%= render 'layouts/errors', obj: @category %>
  </div>

  <div class="col col-md-4" style="padding:10px; margin:10px;">
    <%= link_to "新規登録画面", new_admin_category_path, class: "btn btn-primary" %>
  </div>

  <div class="col col-md-4" style="padding:10px; margin:10px;">
    <table class="table">
      <thead>
        <tr>
          <th>カテゴリー</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.category_name %></td>
            <td><%= link_to "編集する", edit_admin_category_path(category), class: "btn btn-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>